{% extends "base.html" %} {% block content %}

<center>
    <h1> Doctor Dashboard </h1>
</center>

<h3> Hello {{username}} </h3>

<button class="btn btn-danger"><a href="{% url 'accounts:logout' %}" style="text-decoration: none;color: black;"> Log Out </a></button>
<button class="btn btn-success"><a href="{% url 'doctor:prescribe' %}" style="text-decoration: none;color: black;"> Prescribe </a></button>
<button class="btn btn-dark"><a href="{% url 'doctor:previous_prescription' %}" style="text-decoration: none;color: black;"> Previous Entries </a></button> {% endblock %}