<style>
    #prescriptions {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #prescriptions td,
    #prescriptions th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    
    #prescriptions tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #prescriptions tr:hover {
        background-color: #ddd;
    }
    
    #prescriptions th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>


{% extends "base.html" %} {% block content %}

<h1 class="text-center"> Previous Entries </h1>

<div style="height: 100px;"></div>

<div class="container card p-5 shadow bg-body rounded w-75">
    <table width=80% id="prescriptions">
        <tr>
            <th class="text-center">
                Patient Name
            </th>
            <th class="text-center">
                Date
            </th>
            <th>

            </th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>
                {{entry.patient.first_name}} {{entry.patient.last_name }}
            </td>
            <td>
                {{entry.date}}
            </td>
            <td class="d-flex justify-content-center">
                <button class="btn btn-dark"> <a href="{{ entry.get_absolute_url }}" class="text-decoration-none text-light" > View </a></a></button>
            </td>
        </tr>


        {% endfor %}
    </table>

    <div class="wrap d-flex justify-content-center">
        <button onclick="goBack()" class="btn btn-dark mt-5 rounded-pill col-md-6">Go Back</button>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}