{% extends "base.html" %} {% block content %}



<h1 class="text-center"> Hello {{username}}! </h1>


<div class=" d-flex justify-content-center mt-5">
    <div class="container card p-5 shadow bg-body rounded w-75 text-center">
        <!--Register-->
        <h3 class="my-5"> Welcome to your operator dashboard! </h3>
        <p class=""> You can Upload and View your uploaded Records from Here. </p>

        <div class="card-body d-flex justify-content-around mt-5">
            <button class="btn btn-success rounded-pill py-3 px-5 hover-zoom"><a href="{% url 'lab_operator:new_upload' %}" class="text-decoration-none text-white"> Upload New Entry</a></button>
            <button class="btn btn-success rounded-pill py-3 px-5 hover-zoom"><a href="{% url 'lab_operator:previous_entries' %}" class="text-decoration-none text-white"> Previous Entries </a></button>
        </div>

    </div>
</div>

{% endblock %}